.wrapper {
    display: flex;
    width: 100%;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    padding: 10px;
    border-left: 1px solid #ff0000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

#sidebar .sidebar-brand {
    padding: 10px;
    background: #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
    color: rgb(0, 0, 0);
    padding: 10px;
}

#sidebar ul li a {
    color: #000000;
    font-size: 14px;
    border-left: 5px solid #FFFFFF;
    padding-left: 25px;
    /* padding-right: 4px; */
    padding-right: 50px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-weight: normal;
}
#sidebar ul li a:hover {
    color: #ff5f5f;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(255, 0, 0);
    background: #ffffff;
    border-left: 5px solid #ff0000;
    font-weight: bold;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffffff;
}
#cabecalho_warp{
    width: auto;
    height: 10%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-image: url("./imagens/cenaculo_cabecalho.png");
    background-size: cover;
    min-height: 180px;
    max-height: 180px;
    background-repeat: no-repeat;
}
#cabecalho_warp h1{
    font-weight: bold;    
    color: #ffffff;
}
.cor-preto {
    color: rgb(0, 0, 0);
}
.seta{
        background-image: url(./imagens/seta.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 3px;
        height: 5px;
        overflow: hidden;
        margin: 2px 8px;
        display: inline-block;
}
.cor-vermelho {
    color: #e30613;
}
.texto{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: auto;
    color: #252525;
    width: 100%;
}
.texto-cab{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: #ffffff;
}
.separador{
    width: 100%;
    height: 20px;
    overflow: hidden;
    font-size: 0;
    border: 0;
    background-image: url(./imagens/separador.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.show{
    list-style: none;
}
.text-bold{
    font-weight:bold;
}
.tabela{
    margin-left: 25%;
}

div.img {
    margin: 5px;
    margin-top: 0px;
    border: 1px solid #ccc;
    float: left;
    width: 325px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding-top: 0px;
    padding: 15px;
    text-align: center;
}
.background{
    background-image: url("./imagens/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}



